
/* 초기화 */
tml, body, div, span, object, iframe, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

h1 {
    display: block;
    font-size: 2em;
    padding: 50px 10px;
    font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.2em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

hr {
    background:rgba(169, 169, 169, 0.353);
    height:1px;
    border:0;
    margin: 0;
}

li{list-style:none}

a { text-decoration: none; color: black; font-size:14px; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

body {
    font-family: 'Nanum Gothic', sans-serif;
    background-color: rgb(241, 237, 231);
}

.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

/* ! header.jsp */
header {
  background-color: rgb(241, 237, 231);
  position: sticky;
  top: 0;
  z-index: 1;
}

header .logo img {
  margin: 30px;
}

header .sub-menu {
  display: flex;
  position: absolute; 
  top: 20px;
  bottom: 0;
  right: 70px;
  z-index: 1;
}

header .sub-menu a {
  color: black;
  margin: 10px;
}
header .sub-menu li {
  float: left;
}

header .main-menu {
  display: flex;
  position: absolute; 
  top: 100px;
  bottom: 0;
  right: 30px;
  z-index: 1;
}

header .main-menu .item .item__name, .sub-menu {
  padding: 10px 20px 28px 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  cursor: pointer;
}

header .main-menu .item:hover .item__name, .main-menu a:hover .item__name {
  background-color: #494645;
  color: #a1aed9;
  border-radius: 6px 6px 0 0;
}

header .main-menu .item .item__contents {
  width: 100%;
  position: fixed;
  left: 0;
  display: none;
}

header .main-menu .item:hover .item__contents {
  display: block;
}

header .main-menu .item .item__contents .contents__menu {
  background-color: #494645;
}

header .main-menu .item .item__contents .contents__menu>ul {
  display: flex;
  padding: 20px 0;
  justify-content: flex-end;
}

header .main-menu .item .item__contents .contents__menu>ul>li {
  width: 220px;
}

header .main-menu .item .item__contents .contents__menu>ul>li h4 {
  padding: 3px 0 12px 0;
  font-size: 14px;
  color: #fff;
}

header .main-menu .item .item__contents .contents__menu>ul>li ul li {
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}

header .main-menu .item .item__contents .contents__menu>ul>li ul li:hover {
  color: #3a5ed2;
}

header .main-menu .item .item__contents .contents__texture {
  padding: 26px 0;
  font-size: 12px;
  background-color: #42403f;
  display: flex;
  justify-content: center;
}

header .main-menu .item .item__contents .contents__texture .inner {
  margin: 0px 100px;
  color:black;
}

header .main-menu .item .item__contents .contents__texture * {
  text-align: right;
}


header .main-menu .item .item__contents .contents__texture h4 {
  color: #999;
  font-weight: 700;
}

header .main-menu .item .item__contents .contents__texture p {
  color: #3a5ed2;
  margin: 4px 0 14px;
}

/* ! ProductMenu.jsp */

section #product-container {
	background-color: white;
}
/* category */
#menu-category {
	border: 1px solid rgba(169, 169, 169, 0.412);
  width: 1070px;
  height: 250px;
  border-radius: 0.5rem;
  margin: 0 auto;
  margin-bottom: 40px
}

.product_kind_wrap {
  margin: 50px 30px;
}

.product_kind_tab {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
}

dl.product_kind_tab dt a.selected {
  background: #3a5ed2;
  color: #fff;
}
dl.product_kind_tab dt a.unselected {
  background: #f4f4f1;
  color: #222;
}

dl.product_kind_tab dt a {
  display: block;
  width: 200px;
  height: 35px;
  line-height: 35px;
  border-radius: 3px;
  background: #f4f4f1;
  color: #222;
  font-size: 14px;
  text-align: center;
  margin: 20px 5px;
}

#menu-category li {
  display:inline-block;
  width: 150px;
  line-height:50px;
}

.product_menu ul {
  position: absolute;
  top: 300px;
  left: 50px;
}

.product_menu input {
  vertical-align:middle;
}

#menu-container {
  width: 1070px;
  margin: 0 auto;
  padding-bottom: 90px;
}

/* checkbox */
.inner .hide {
  display: none;
}


/* product_menu */

div.product_list>dl>dt {
  padding:20px;
  background:#f4f4f2;
  margin-bottom:20px;
  border-radius:3px;
  overflow:hidden; 
  border-radius: 5px;
}

div.product_list>dl>dt>a {
  display: block; 
  float: left;  
  line-height: 18px; 
  font-size:18px; 
  font-weight:bold; 
  color:#222; 
}

div.product_list>dl>dt .summary {
  display: block; 
  float: left;  
  line-height: 18px; 
  margin-left: 5px; 
  font-size: 13px; 
  color: #444444;  
  letter-spacing: -1px; 
}

div.product_list>dl>dt .summaryIcon {
  display: block; 
  float: left;  
  width: 45px; 
  height: 18px; 
  margin-left: 15px;  
}

div.product_list>dl>dt .summaryIcon img{
  position:relative;
  top:-9px
}

div.product_list>dl>dd { 
  margin-bottom:40px; 
}

div.product_list>dl>dd>ul { 
  width: 1120px;
  position:relative; 
  left:-10px; 
  top:-10px; 
}

div.product_list>dl>dd>ul:after {
  content:""; 
  display:block; 
  clear:both; 
}

div.product_list>dl>dd>ul>li { 
  width: 250px;
  float:left;
  margin:10px; 
  position:relative; 
}

div.product_list>dl>dd>ul li dl { 
  width:260px; 
}

div.product_list>dl>dd>ul li dt { 
  width:258px; 
  height: auto; 
  position:relative; 
  overflow:hidden; 
}

div.product_list.product_list_card>dl>dd>ul li dt { 
  width:260px; 
  height:170px; 
  position:relative; 
  overflow:hidden; 
  border-radius:10px; 
}

div.product_list>dl>dd>ul li dt>a>img { 
  transition: transform 1s; 
  -webkit-transition: -webkit-transform 1s; 
  /* border-radius:5px; */ 
  height:100%; 
  width:100%; 
}

div.product_list>dl>dd>ul li dt>a>img:hover { 
  transform: scale(1.1, 1.1); 
  -webkit-transform: scale(1.1, 1.1); 
}

div.product_list>dl>dd>ul li dt ul {
  position:absolute; 
  left:9px; 
  bottom:10px; 
}

div.product_list>dl>dd>ul li dt ul li { 
  float:left; 
  margin-right:4px; 
}

div.product_list>dl>dd>ul li dd { 
  font-size:14px; 
  color:#444; 
  height:54px; 
  line-height:54px; 
  text-align:center; 
  text-overflow:ellipsis; 
  overflow:hidden; 
  white-space:nowrap; 
}

/* ! ProductView.jsp */

img {
  vertical-align: top;
  max-width: 100%;
}

section #product-view-container {
	background-color: white;
}

/* Product View */
div.product_view_wrap1 {
  width:1100px;
  padding-bottom:40px; 
  border-bottom:1px solid #ddd; 
  margin-bottom:40px; 
}

div.product_view_wrap1:after { 
  content:""; 
  display:block; 
  clear:both; 
}
div.product_view_pic { 
  width:450px; 
  float:left; 
}

div.product_view_pic ul { 
  width:450px; 
}

div.product_view_pic:after { 
  content:""; 
  display:block; 
  clear:both; 
}

div.product_view_pic ul li { 
  float:left; 
}

div.product_view_pic div.product_big_pic { 
  position:relative; 
  width:450px; 
  height:470px; 
  margin-bottom:8px; 
}

div.product_view_pic div.product_big_pic p.more_btn { 
  position:absolute; 
  right:15px; 
  bottom:15px; 
}

#product_thum_wrap img { 
  width:106px; 
}

/* zoom 커서에 붙어있는 윈도우뷰 */
div.zoomWindowContainer div { 
  border:1px solid #ddd !important; 
}

div.product_view_pic ul.product_thum li { 
  margin-right:8px; 
}

div.product_view_pic ul.product_thum li.last { 
  margin-right:0; 
}

div.product_view_detail { 
  width:610px; 
  float:right; 
  position:relative; 
}

div.product_view_detail div.myAssignZone { 
  position:relative; 
}

div.product_view_detail h4 { 
  font-size:24px; 
  font-weight:bold; 
  color:#222; 
  border-bottom:2px solid #333; 
  padding-bottom:18px; 
  margin-bottom:20px; 
}

div.product_view_detail h4 span { 
  font-size:14px; 
  font-family:"Arial"; 
  font-weight:normal; 
  color:#666; 
}

div.product_view_detail p.t1 { 
  font-size:16px; 
  color:#444; 
  margin-bottom: 50px; 
  line-height:1.6; 
  min-height:40px; 
}

div.product_view_detail div.myDrink { 
  position:absolute; 
  right:0; 
  top:7px; 
}

div.product_view_detail div.myDrink a { 
  display:block; 
  width:111px; 
  height:28px;
  line-height:28px; 
  background:#0a2d9e; 
  font-size:12px; 
  color:#fff; 
  text-align:center; 
  border-radius:3px; 
}

legend.product_option {
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
}

div.product_view_detail div.product_option_size { 
  height:59px; 
  line-height:59px; 
  position:relative; 
  border-top:1px solid #ddd; 
  border-bottom:1px solid #ddd; 
}

div.product_view_detail p.tit { 
  font-size:18px; 
  color:#222; 
  padding-left: 7px; 
  margin : 5px;
  font-size: 14px;
}

div.product_view_detail div.product_select_wrap2 { 
  position:absolute; 
  right:6px; 
  top:6px; 
  display:inline-block
} 

div.product_view_detail div.product_select_wrap2:after { 
  content:""; 
  display:block; 
  clear:both; 
}

div.product_view_detail div.product_select_wrap2>div { 
  float:left; 
}

div.product_view_detail div.product_option_size span.unit { 
  font-size:12px; 
  color:#666; 
  position:absolute; 
  right:0; 
  top:2px; 
}

div.product_option_cup { 
  width:100%; 
  background:url("//image.istarbucks.co.kr/common/img/menu/detail_bg.jpg") center 0 repeat-y; 
  margin: 30px 0; 
}

div.product_option_cup:after { 
  content:""; 
  display:block; 
  clear:both; 
}

div.product_option_cup ul { 
  width:50%; 
  float:left; 
}

div.product_option_cup li { 
  margin-bottom:15px; 
  padding:0 10px; 
  line-height:1.6; 
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

div.product_option_cup li.last { 
  margin-bottom:0; 
}

div.product_option_cup dl { 
  width:100%; 
  font-size:14px; 
  color:#444; 
}

div.product_option_cup dl:after { 
  content:""; 
  display:block; 
  clear:both; 
}

div.product_option_cup dl dt { 
  float:left; 
  width:85%; 
}

div.product_option_cup dl dd { 
  float:right; 
  width:15%; 
  text-align:right; 
}

div.product_info_li { 
  padding:17px 13px; 
  border-bottom:1px solid #ddd; 
  margin-bottom:10px; 
}

div.product_info_li ol li { 
  font-size:14px; 
  color:#666; 
  line-height:1.6; 
}

div.product_info_li ol li.last { 
  margin-bottom:0; 
}

div.product_factor { 
  background:#f4f4f2; 
  padding:13px 11px; 
  font-size:14px; 
  color:#444; 
  border-radius:3px; 
  position:relative; 
  margin-bottom:23px; 
  line-height:1.6; 
}

	/* 메뉴 view 공통 */
	div.product_view_wrap1 { 
    width:100%; 
  }

	div.product_view_pic { 
    width:40.9%; 
  }

	div.product_view_detail { 
    width:55.45%; 
  }

	div.product_view_pic div.product_big_pic { 
    width:100%; 
    height:auto; 
  }

	div.product_view_pic ul { 
    width:100%; 
  }

	div.product_view_pic ul.product_thum li { 
    width:24.2%; 
    margin-right:1%; 
  }

	div.zoomWindowContainer div { 
    width:100% !important; 
    height:100% !important; 
    left:0 !important; 
    top:0 !important; 
  }

	div.zoomLens { 
    border:0 !important; 
    background:none !important; 
  }

	div.product_view_detail div.product_option_size { 
    height:inherit; 
    line-height:inherit; 
    padding:20px 0; 
  }

	div.product_view_detail div.product_option_size span.unit { 
    top:17px; 
  }

	div.product_view_detail div.product_select_wrap2 { 
    position:static; 
    left:0;
    top:0; 
    margin-left: 8px;
  }

	div.product_view_detail div.product_option_size { 
    top:3px; 
  }

  div.option_size_select {
    border: 1px solid rgba(169, 169, 169, 0.412);
    width: 190px;
    height: 190px;
    border-radius: 1rem;
    margin: 10px 4px auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .option_size_select>img {
    width: 155px;
    height: 155px;
  }

  div.option_cup_select {
    border: 1px solid rgba(169, 169, 169, 0.412);
    width: 270px;
    height: 120px;
    border-radius: 2rem;
    margin: 10px 3.5px auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

/* ! footer */
footer {
  text-align: center;
  font-size:13px;
}